{{> mobile_nav}}
<div class="container-fluid first">
        {{> nav}}

        <div class="row">
            <div class="col-md-1"></div>
            <div class="headlineDiv col-md-10 hidden-xs">
                <h1 class="headlineText animated pulse">Crafting incredible experiences</h1>
                <h1 class="headlineText animated pulse">Coded with symphony of </h1>
                <h1 class="headlineText animated pulse">Ideas and Technologies</h1>
            </div>
            <div class="headlineDiv col-xs-12 hidden-md hidden-sm hidden-lg">
                <h1 class="headlineText" style="font-size:300%">Creating incredible experiences</h1>
                <h1 class="headlineText" style="font-size:300%">Coded with symphony of </h1>
                <h1 class="headlineText" style="font-size:300%">Ideas and Technologies</h1>
            </div>
        </div>
    </div>