<footer>
    <div class="container footer-container">
        <hr>
        <div class="row">

            <div class="col-md-3 col-xs-3" style="text-align:center">
                <a href="/blog">Blog</a>
            </div>

            <div class="col-md-3 hidden-xs" style="text-align:center">
                <a class="scroll-down handpointer">Forte</a>
            </div>
            <div class="col-md-6 hidden-xs col-xs-7" style="text-align:center">
                <input type="text" name="suscribe" placeholder="email">
                <button>Subscribe</button>
            </div>
            <div class="col-md-6 hidden-md hidden-lg col-xs-9" style="text-align:center">
                <input type="text" style="width:30vw" name="suscribe" placeholder="email">
                <button>Subscribe</button>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-xs-3" style="text-align:center">
                <span class="hidden-xs">
                        <a href="/about">About CodeLilt</a>
                    </span>
                <span class="hidden-md hidden-lg hidden-sm">
                        <a href="/about">About</a>
                    </span>
            </div>
            <div class="col-md-3 col-xs-4" style="text-align:center">
                <a href="/contact">Contact</a>
            </div>
            <div class="col-md-6 col-xs-4" style="text-align:center">
                <span style="color:white; font-size:10px"><i class="fa fa-copyright" aria-hidden="true"></i> Gajendra Dagur. All rights reserved.</span>
            </div>

        </div>
    </div>
    <br>
    <br>

</footer>