<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="Portfolio Website of a professional developer based in India, Specializing in AEM Node.JS and web development. Gajendra provides consulting, development and support services for AEM, Node.js and Web Solutions and have experience working for various industry leader clients.">
  <meta name="keywords" content="AEM,CQ5,Node JS, Node.JS, Web Development, Solutions, Consulting, Hire, CodeLilt">
  <meta name="author" content="Gajendra Dagur">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta property="og:image" content="/images/logo.png">
  <meta property="og:url" content="http://www.codelilt.com/">
  <meta property="og:site_name" content="Gajendra Dagur Portfolio- AEM, Node.JS">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Portfolio Website of a professional developer based in India, Specializing in AEM Node.JS and web development. Gajendra provides consulting, development and support services for AEM, Node.js and Web development and have experience working for various industry leader clients.">
  <meta property="og:title" content="AEM, Node.JS and Web solutions - Gajendra Dagur">
  <title>AEM, Node.js and Web Solutions -  Consulting development and support</title>

  {{> common_JS_CSS}}
  
    <link rel="stylesheet" href="/stylesheets/front.css">
  </head>
<body>
    <div style="width:100%; height:100%;background-color:#ffffe6" class="container">
    <div style="width:50%; padding-top: 40vh;" class="coming-soon"> Stay Tuned, Coming Soon!!</div>
       <a href="/"><img class="coming-soon" alt="CodeLilt" src="/images/logo.png"></a>


    </div>
  </div>
</body>
</html>