<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="description" content="AEM, Node.JS and Web Development blog, find here the best solutions">
  <meta name="keywords" content="AEM,CQ5,Node JS, Node.JS, Web Development, Solutions, Consulting">
  <meta name="author" content="Gajendra Dagur">
  <meta name="robots" content="nofollow">
  <meta name="googlebot" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>CodeLilt - Know all about AEM, Node.JS and Web Development</title>

 {{> common_JS_CSS}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/front.css">
  <script type="text/babel" src="/scripts/example.js"></script>
  <link rel="stylesheet" href="/stylesheets/dbadmin.css"/>
</head>
<body>
 {{> nav_grey}}
  <div class="container-fluid full-bg-nobg">

   
   
     <!-- <div class="container" style="height:100%;background-color:rgba(255, 255, 255, 0.85);border-radius: 7px;margin-top:8vh">
        <h2>Add  Related</h2>
        <form action="/addrelated" method="post">
        Article link
        <input type="text" name="link">
        Related Link (seprated by ;)
        <input type="text" name="relatedlink">
        Related Titles(seprated by ;)
        <input type="text" name="relatedtitle">
          <button type="submit" id="article-submit" class="btn btn-primary">Submit</button>
        </form>
      </div> -->
      <div class="row" style="margin-top:10vh" id="dbBox">
      

      </div>

  </div>
{{> footer}}

</body>
</html>