<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="description" content="AEM, Node.JS and Web Development blog, find here the best solutions">
  <meta name="keywords" content="AEM,CQ5,Node JS, Node.JS, Web Development, Solutions, Consulting">
  <meta name="author" content="Gajendra Dagur">
  <meta name="robots" content="nofollow">
  <meta name="googlebot" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>CodeLilt - Error page</title>

{{> common_JS_CSS}}
  <link rel="stylesheet" href="/stylesheets/front.css">
</head>
<body>
  <div class="container-fluid full-bg">

    {{> nav_grey}}
    <div class="row" style="height:90%;margin-top:15%">
      <div class="container" style="height:100%;background-color:rgba(255, 255, 255, 0.85);border-radius: 15px;">
        <p style="color:orange; font-size:7vh">{{message}}!! Ouch it hurts!</p>
       
      </div>
    </div>
  </div>
{{> footer}}
</body>
</html>