<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Portfolio Website of a professional developer based in India, Specializing in AEM Node.JS and web development. Gajendra provides consulting, development and support services for AEM, Node.js and Web development and have experience working for various industry leader clients.">
    <meta name="keywords" content="AEM,CQ5,Node JS, Node.JS, Web Development, Solutions, Consulting, Hire, consultant, CodeLilt">
    <meta name="author" content="Gajendra Dagur">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="http://www.codelilt.com/images/icon.png">
    <meta property="og:url" content="http://www.codelilt.com/">
    <meta property="og:site_name" content="Gajendra Dagur Portfolio- AEM, Node.JS">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Portfolio Website of a professional developer based in India, Specializing in AEM Node.JS and web development. Gajendra provides consulting, development and support services for AEM, Node.js and Web development and have experience working for various industry leader clients.">
    <meta property="og:title" content="AEM, Node.JS and Web Articles - Gajendra Dagur">

    <title>AEM, Node.JS and Web - Development, Consulting and Support</title>

    {{> common_JS_CSS}}
    {{> heading_animation_js}}
    <script type="text/javascript">
        $(document).ready(function() {
            var headerHeight = $('#top-head').height();
            var xo = (5 * $(window).height())/100;
            $('.carousel').carousel({
                interval: false
            });
            $(".scroll-down").click(function() {
                $('html, body').animate({
                    scrollTop: $("#service-columns").offset().top
                }, 500);
            });
            $(".aem-section").click(function() {
                $('html, body').animate({
                    scrollTop: $(".third-f").offset().top-xo
                }, 1000);
                $('#myCarousel').carousel(1);
            });
            $(".node-section").click(function() {
                $('html, body').animate({
                    scrollTop: $(".fourth-f").offset().top-xo
                }, 1000);
                $('#myCarousel').carousel(2);
            });
            $(".web-section").click(function() {
                $('html, body').animate({
                    scrollTop: $(".fourth-s").offset().top-xo
                }, 1500);
                $('#myCarousel').carousel(0);
            });
        });
    </script>

{{#if PROD_MODE}}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-80562674-1', 'auto');
        ga('send', 'pageview');
    </script>
{{/if}}
    
    <link rel="stylesheet" href="/stylesheets/front.css">
    <link rel="stylesheet" href="/stylesheets/redesign.css">
</head>

<body>
    {{> first}}
    <div class="container-fluid second" id="service-columns" style="background-color:#80d4ff">
        <div class="row" style="height:100%">
            <div class="node-section col-md-4 col-xs-4 col-sm-4 box1 animated bounce">
                <h2 class="sub-head"><b>Node.JS</b></h2>
            </div>
            <div class="aem-section col-md-4 col-xs-4 col-sm-4 box2 animated bounce">
                <h2 class="sub-head hidden-xs"><b>AEM Solutions</b></h2>
                <h2 class="sub-head hidden-lg hidden-md">AEM </h2>
            </div>
            <div class="web-section col-md-4 col-xs-4 col-sm-4 box3 animated bounce">
                <h2 class="sub-head hidden-xs">
					<b>Web Development</b>
				</h2>
                <h2 class="sub-head hidden-lg hidden-md ">
					Web
				</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid third">
        <div class="row third-s hidden-xs">
            <div class="col-md-3 forte-parent hidden-xs"></div>
            <div class="col-md-2 forte-parent  col-xs-4">
                <div class="forte-section-projects "> Projects</div>
            </div>
            <div class="col-md-2 forte-parent col-xs-4">
                <div class="forte-projects ">
                    <div class="forte-cp">SapientNitro, Noida</div>
                    <div class="project-names"><span>UHC.com</span>
                    </div>
                    <div class="project-names"><span>Stewart.com</span>
                    </div>
                    <div class="project-names"><span>IEA</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 forte-parent col-xs-4">
                <div class="forte-projects">
                    <div class="forte-cp">Deloitte USI, Hyderabad</div>
                    <div class="project-names"><span>Developed AEM website for one of the world's largest semiconductor and chip maker Client</span></div>
                    <div class="project-names"><span>AEM and Commerce platform setup for a life sciences giant</span></div>
                </div>
            </div>
        </div>
        <div class="row third-s m-devices hidden-lg hidden-sm hidden-md">
            <div class="col-xs-12 ">
                <div class="row" style="text-align:center;color:grey;font-family:'Times New Roman', Monospace;font-size:25px"> Projects
                </div>

                <div class="row">
                    <div class="col-xs-6 forte-parent-m">
                        <div class="forte-projects">
                            <div class="forte-cp">SapientNitro, Noida</div>
                            <div class="project-names"><span>- UHC.com</span>
                            </div>
                            <div class="project-names"><span>- Stewart.com</span>
                            </div>
                            <div class="project-names"><span>- IEA</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 forte-parent-m">
                        <div class="forte-projects">
                            <div class="forte-cp">Deloitte USI, Hyderabad</div>
                            <div class="project-names"><span>- AEM website for one of the world's largest semiconductor and chip maker Client</span>
                            </div>
                            <div class="project-names"><span>- AEM-eCommerce platform for a life sciences giant</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row third-f">
            <div class="col-md-3 forte-parent hidden-xs">
                <div class="forte-section"> AEM</div>
            </div>
            <div class="col-md-9 forte-parent col-cs-12">
                <div class="row hidden-lg hidden-sm hidden-md" style="color:white;font-family:'Times New Roman', Monospace;font-size:25px"> AEM </div>
                <div class="row forte">
                    <div class="col-md-4 col-xs-6">
                        <div class="forte-head hidden-xs">Commerce</div>
                        <div class="forte-subhead hidden-lg hidden-sm hidden-md"><b>Commerce</b></div>
						<div class="forte-subhead">AEM-Hybris</div>
						<div class="forte-subhead">AEM-WCS</div>
						<div class="forte-subhead">Catalog Importers</div>
						<div class="forte-subhead">Analytics</div>
					</div>
					<div class="col-md-4 col-xs-6">
						<div class="forte-head hidden-xs">Integrations</div>
						<div class="forte-subhead hidden-lg hidden-sm hidden-md"><b>Integrations</b>
                        </div>
                        <div class="forte-subhead hidden-lg hidden-sm hidden-md">AEM-Amazon S3</div>
                        <div class="forte-subhead hidden-lg hidden-sm hidden-md">AEM Mongo</div>
                        <div class="forte-subhead">Clay Tablet</div>
                        <div class="forte-subhead hidden-xs">Dispatcher</div>
                        <div class="forte-subhead">LDAP</div>
                        <div class="forte-subhead">SOLR</div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="forte-head hidden-xs">Upgrade</div>
                        <div class="forte-subhead hidden-lg hidden-sm hidden-md"><b>Upgrade</b>
                        </div>
                        <div class="forte-subhead hidden-xs"> AEM 5.X to 6.X Upgrade</div>
                        <div class="forte-subhead hidden-lg hidden-sm hidden-md">6.X Upgrade</div>
                        <div class="forte-subhead">Clustering</div>
                        <div class="forte-subhead">Job Offloading</div>
                    </div>
                    <div class="col-md-3 col-xs-6  hidden-lg hidden-sm hidden-md">
                        <div class="forte-head hidden-xs">UX Design</div>
                        <div class="forte-subhead hidden-lg hidden-sm hidden-md"><b>UX/Design</b>
                        </div>
                        <div class="forte-subhead">Responsive</div>
                        <div class="forte-subhead">Touch</div>
                        <div class="forte-subhead">Sightly</div>
                        <div class="forte-subhead">Mobile Websites</div>
                    </div>
                </div>
                <div class="row forte  hidden-xs">
                    <div class="col-md-2 col-xs-4"></div>
                    <div class="col-md-3 ">
                        <div class="forte-head">UX Design</div>
                        <div class="forte-subhead">Responsive Designs</div>
                        <div class="forte-subhead">Touch enabled websites</div>
                        <div class="forte-subhead">Sightly</div>
                        <div class="forte-subhead">Mobile Websites</div>
                    </div>
                    <div class="col-md-2 col-xs-4"></div>
                    <div class="col-md-3 col-xs-4">
                        <div class="forte-head">Database/DataStore</div>
                        <div class="forte-subhead">AEM-Amazon S3</div>
                        <div class="forte-subhead">AEM Mongo</div>
                        <div class="forte-subhead">File Store</div>
                    </div>
                    <div class="col-md-2 col-xs-4"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid fourth">
        <div class="row fourth-f">
            <div class="col-md-3 forte-parent hidden-xs">
                <div class="forte-section-node"> Node.JS</div>
            </div>
            <div class="col-md-9 forte-parent col-xs-12">
                <div class="row hidden-xs">
                    <div class="col-md-4 col-xs-4">
                        <div class="forte-head-c">Integrations</div>
                        <div class="forte-subhead-c">Performance</div>
                        <div class="forte-subhead-c">Analytics</div>
                        <div class="forte-subhead-c">3rd Party Logins</div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="forte-head-c">Template Engines</div>
                        <div class="forte-subhead-c">Jade</div>
                        <div class="forte-subhead-c">HandleBars</div>
                        <div class="forte-subhead-c">EJS</div>

                    </div>
                    <div class="col-md-4 col-xs-4">

                        <div class="forte-head-c">Database</div>
                        <div class="forte-subhead-c">Mongo</div>
                        <div class="forte-subhead-c">SQL</div>
                        <div class="forte-subhead-c">File System</div>
                    </div>
                </div>
               
                <div class="hidden-lg hidden-sm hidden-md" style="color:grey;font-family:'Times New Roman', Monospace;font-size:25px">Node.JS</div>
                <div class="row forte-head-c" style="margin-top:30px">Modules</div>
                <div class="row forte">
                    <div class="col-md-2 hidden-xs"></div>
                    <div class="col-md-2 col-xs-4">
                        <div class="forte-subhead-c">Express</div>
                        <hr>
                        <div class="forte-subhead-c">async</div>
                        <hr>
                        <div class="forte-subhead-c">Monk</div>
                        <hr>
                        <div class="forte-subhead-c hidden-lg hidden-sm hidden-md">request</div>
                        <hr class=" hidden-lg hidden-sm hidden-md">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="forte-subhead-c">underscore</div>
                        <hr>
                        <div class="forte-subhead-c">gulp</div>
                        <hr>
                        <div class="forte-subhead-c">browserify</div>
                        <hr>
                        <div class="forte-subhead-c hidden-lg hidden-sm hidden-md">monk</div>
                        <hr class=" hidden-lg hidden-sm hidden-md">
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <div class="forte-subhead-c">mongoose</div>
                        <hr>
                        <div class="forte-subhead-c">sitemap</div>
                        <hr>
                        <div class="forte-subhead-c">passport</div>
                        <hr>
                        <div class="forte-subhead-c hidden-lg hidden-sm hidden-md">exp-session</div>
                        <hr class="hidden-lg hidden-sm hidden-md">
                    </div>
                    <div class="col-md-2 col-xs-4 hidden-xs">
                        <div class="forte-subhead-c">request</div>
                        <hr>
                        <div class="forte-subhead-c">monk</div>
                        <hr>
                        <div class="forte-subhead-c">exp-session</div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>


        <div class="row fourth-s hidden-xs">
            <div class="col-md-3 forte-parent">
                <div class="forte-section-web "> Web</div>
            </div>
            <div class="col-md-3 forte-parent col-xs-4">
                <div class="forte-web-head">JavaScript</div>
                <div class="forte-web-subhead">ES6</div>
                <div class="forte-web-subhead">React</div>
                <div class="forte-web-subhead">Node</div>
                <div class="forte-web-subhead">EJS</div>
            </div>
            <div class="col-md-3 forte-parent col-xs-4">
                <div class="forte-web-head">Integration</div>
                <div class="forte-web-subhead">Google Analytics</div>
                <div class="forte-web-subhead">Commerce</div>
                <div class="forte-web-subhead">Blogs</div>
                <div class="forte-web-subhead">SEO</div>
                <div class="forte-web-subhead">Mongo</div>
            </div>
            <div class="col-md-3 forte-parent col-xs-4">
                <div class="forte-web-head">Server</div>
                <div class="forte-web-subhead">Hosting</div>
                <div class="forte-web-subhead">Server setup</div>
                <div class="forte-web-subhead">Performance</div>
                <div class="forte-web-subhead">Security</div>
                <div class="forte-web-subhead">DB Setup</div>
            </div>
        </div>

        <div class="row fourth-s hidden-lg hidden-sm hidden-md">
            <div class="col-md-12 forte-parent">
                <div class="row" style="color:white;font-family:'Times New Roman', Monospace;font-size:25px"> Web</div>
                <div class="row">
                    <div class="col-md-3 forte-parent col-xs-4">
                        <div class="forte-web-subhead"><b>JS</b>
                        </div>
                        <div class="forte-web-subhead">Angular</div>
                        <div class="forte-web-subhead">React</div>
                        <div class="forte-web-subhead">Node</div>
                        <div class="forte-web-subhead">EJS</div>
                    </div>
                    <div class="col-md-3 forte-parent col-xs-4">
                        <div class="forte-web-subhead"><b>Integration</b>
                        </div>
                        <div class="forte-web-subhead">Google Analytics</div>
                        <div class="forte-web-subhead">Commerce</div>
                        <div class="forte-web-subhead">Blogs</div>
                        <div class="forte-web-subhead">SEO</div>
                        <div class="forte-web-subhead">Mongo</div>
                    </div>
                    <div class="col-md-3 forte-parent col-xs-4">
                        <div class="forte-web-head hidden-xs">Server</div>
                        <div class="forte-web-subhead"><b>Server</b></div>
                        <div class="forte-web-subhead">Hosting</div>
                        <div class="forte-web-subhead">Server setup</div>
                        <div class="forte-web-subhead">Performance</div>
                        <div class="forte-web-subhead">Security</div>
                        <div class="forte-web-subhead">DB Setup</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>

</html>